#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;

  text-align: center;
  text-transform: uppercase;
}

body {
  background-color: #22026c;
}

::placeholder {
  margin-left: 10px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* CSS used for the tournament screen */
.player-bar {
  background-color: #1b074a;
  color: white;
  padding: 10px 0px;
}
.player-list {
  height: 90%;
  background-color: #00246b;
  color: white;
}
.player-card-0 {
  background-color: #22026c;
  border: 3px solid #65dbbb;
  border-radius: 10px;
  width: 125px;
  height: 60px;
  padding: 15px 0px;
  margin: 10px;
  text-align: center;
  display: inline-block;
}
.player-card-1 {
  background-color: #22026c;
  border: 3px solid #ff5959;
  border-radius: 10px;
  width: 125px;
  height: 60px;
  padding: 15px 0px;
  margin: 10px;
  text-align: center;
  display: inline-block;
}
.player-card-2 {
  background-color: #22026c;
  border: 3px solid #e943e9;
  border-radius: 10px;
  width: 125px;
  height: 60px;
  padding: 15px 0px;
  margin: 10px;
  text-align: center;
  display: inline-block;
}

.player-card-3 {
  background-color: #22026c;
  border: 3px solid #ffc700;
  border-radius: 10px;
  width: 125px;
  height: 60px;
  padding: 15px 0px;
  margin: 10px;
  text-align: center;
  display: inline-block;
}
